.composition{
    position: relative;
    padding: 3rem;
    height: 35rem;

    &__image{
        position: absolute;
        width: 60%;
        outline-offset: 1rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        z-index: 5;
        transition: all .3s ease-in-out;
        

        &--1{
            top: -2rem;
            left: 0;
        }

        &--2{
            top: 3rem;
            right: 0;
        }

        &--3{
            top: 10rem;
            left: 20%;
        }

        &:hover{
            outline: 1rem solid $color_primary;
            transform: scale(1.05) translateY(-.5rem);
            z-index: 10;
            box-shadow: 0 2.5rem 5rem rgba($color-black, .5);
        }
    }

    &:hover,
    &__image:not(:hover){
        transform: scale(.95);
    }
}