// BACKGROUND COLORS
$color_primary-light: #5042ef;
$color_primary: #2011cb;
$color_primary-dark: #11096d;
$color-grey-light:#f7f7f7; 

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-fourth-light: #48ff00;
$color-fourth-dark: #2c810a;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// TEXT COLORS
$color-white: #FFFFFF;
$color_medium-grey: #777777;
$color-black: #000000;
$color-grey-dark: #999999;
$color-grey-dark-2: #333333;


// GRIDS
$grid-width: 114rem;
$horizontal-gutter: 6rem;
$vertical-gutter: 8rem;

// FONT
$default-fontSize: 1.6rem;