// BACKGROUND COLORS
$color_primary-light: #5042ef;
$color_primary: #2011cb;
$color_primary-dark: #11096d;
$color-grey-light:#f7f7f7; 

// TEXT COLORS
$color-white: #FFFFFF;
$color_medium-grey: #777777;
$color-black: #000000;

// GRIDS
$grid-width: 114rem;
$horizontal-gutter: 6rem;
$vertical-gutter: 8rem;

// FONT
$default-fontSize: 1.6rem;